<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiyi.openapi.demo" >

    <!--网络访问需要的权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取手机IMEI号需要的权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--获取WI-FI状态以及Mac地址需要的权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--判断网络连接状态需要-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ApiDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PlayerActivity" />
    </application>

</manifest>